

body {
    background: #ff6879;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FEAB7B, #ff6879);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FEAB7B, #ff6879); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



    margin: 0px;
    font-family: 'Akshar', sans-serif !important;
}